name: CD Pipeline

# Only trigger, when the build workflow succeeded
on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Pull Docker Image
        run: sudo docker pull ajaytevatia/sample-bikeshare_model:latest
      - name: Delete Old Docker Container
        run: sudo docker rm -f m4_mp1_app || true
      - name: Run Docker Container
        run: sudo docker run -d -p 8001:8001 --name=m4_mp1_partc-fastapi-container ajaytevatia/sample-bikeshare_model
